[Unit]
Description=all pods
Requires=consul.service
After=consul.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
