[Unit]
Description=Pod '%I'
Requires=pod.service
Before=pod.service
BindsTo=pod.service

[Service]
Type=simple
Slice=machine.slice
TimeoutStartSec=90
TimeoutStopSec=90
StandardOutput=journal
SyslogIdentifier=pod-%i
ExecStart=/opt/bin/launch-pod -c /var/data/pods/pod-admin.json /var/data/pods/%i/pod.json %i
ExecStopPost=/usr/bin/rkt gc --mark-only
KillMode=process
Restart=always

[Install]
WantedBy=pod.service
